:root {
    --color-1: #323236;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F2666;
    font-family: 'Inter', sans-serif;
}

input:focus {
    outline: none;
}
input:focus {
    border: 1px solid #2847D0
}

.main__body {
    display: flex;

    &>.sidebar {
        display: flex;
        flex-direction: column;
        width: 259px;
        height: 100vh;

        &>img:first-child {
            width: 143px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 43px auto 74px auto;
        }

        &>.sidebar__menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 0 24px 0 21px;
            color: #B3BFF9;

            &>.menu__top,
            &>.menu__bottom {
                display: flex;
                flex-direction: column;
                gap: 22px;

                &>p {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }

            &>.menu__bottom {
                margin-bottom: 36px;
            }

        }
    }

    &>.main {
        background-color: #fff;
        width: 100%;
        border-radius: 22px 0 0 22px;
        position: relative;

        .main__title {
            display: flex;
            justify-content: space-between;
            padding: 18px 44px;
            font-size: 13px;
            font-weight: 600;
            line-height: 15.73px;
            align-items: center;
            text-align: left;
            color: var(--color-1);

            &>.title__left {
                font-size: 15px;
                font-weight: 600;
                line-height: 18.15px;
                text-align: left;
                color: #323236;

            }

            &>.title__right {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            &>.title__input {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &>input {
                    width: 722px;
                    height: 40px;
                    border: 1px solid #83848B;
                    border-radius: 8px;
                    padding: 0 20px;
                }
               
                &>p {
                    position: absolute;
                    display: flex;
                    gap: 13px;
                    align-items: center;
                    color: #B8B3B3;
                    font-size: 10px;
                }
            }
        }

        .main__info {
            padding: 6px 0;
            text-align: center;
            width: 100%;
            background-color: #EDEFFE;
            font-size: 13px;

            &>span {
                color: #2038A7;
            }
        }

        .main__section {
            display: grid;
            grid-template-columns: 3fr 1fr;
            padding: 21px 42px;

            &>.section__left {
                display: flex;
                flex-direction: column;
                padding-right: 43px;

                &>.new__link {
                    display: flex;
                    flex-direction: column;
                    background-color: #F7F8FA;
                    border-radius: 9px;
                    padding: 21px 29px;
                    height: 187px;
                    &>.link__title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 39px;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 12.1px;

                        &>p:first-child {
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 15.73px;
                            color: #323236;
                        }

                        &>p:last-child {
                            background-color: #0F2666;
                            padding: 7px 17px;
                            display: flex;
                            align-items: center;
                            color: #fff;
                            gap: 9px;
                            border-radius: 4px;
                            transition: background-color 200ms ease;
                            cursor: pointer;
                        }

                        &>p:last-child:hover {
                            background-color: #2847D0;
                            transition: background-color 200ms ease;
                        }
                    }

                    &>.link__input {
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        gap: 11px;
                        &>.url__input {
                            width: 100%;
                            position: relative;

                            &>input {
                                width: 100%;
                                border: 1px solid #E2E4EC;
                                border-radius: 7px;
                                height: 56px;
                                padding: 15px 56px;

                            }

                            &>input::placeholder {
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 26px;
                                color: #B8B3B3;
                            }

                            &>input:focus {
                                border: 1px solid #2847D0
                            }

                            &>img {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                left: 22px;
                            }
                        }

                        &>.value__input {
                            width: 100%;
                            position: relative;

                            &>input {
                                width: 100%;
                                border: 1px solid #E2E4EC;
                                border-radius: 7px;
                                height: 56px;
                                background-color: #F2F4F8;
                                padding: 15px;

                            }

                            &>input::placeholder {
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 26px;
                                color: #B8B3B3;
                            }

                            &>img {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                right: 22px;
                            }
                        }
                    }
                }

                &>.section__card {
                    display: flex;
                    padding: 31px 37px;
                    align-items: center;
                    background-color: #F7F8FA;
                    margin-top: 10px;
                    border-radius: 9px;
                    justify-content: space-between;

                    &>.card__left {
                        display: flex;

                        &>img:first-child {
                            background-color: #1090CB;
                            width: 30px;
                            height: 30px;
                            border-radius: 6px;
                            padding: 4px 5px;
                            margin-right: 11px;
                        }

                        &>p:nth-child(2) {
                            font-size: 13px;
                            font-weight: 500;
                            text-align: left;
                            color: #323236;
                            margin-right: 33px;

                            &>span {
                                font-size: 10px;
                                font-weight: 400;
                                color: #999FAA;
                            }

                        }
                    }

                    &>.card__input {
                        position: relative;

                        &>img {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            right: 12px;
                        }

                        &>input {
                            width: 372px;
                            height: 45px;
                            border: 1px solid #E2E4EC;
                            border-radius: 7px;
                            padding: 15px 17px;
                        }
                        &>input:focus{
                            border: 1px solid #2847D0;
                        }
                        &>input::placeholder {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.52px;
                            text-align: left;
                            color: #B9B6BB;
                        }
                    }

                    &>.card__inputs {
                        display: flex;

                        &>.card__input {
                            position: relative;
                            margin-left: 12px;

                            &>input {
                                width: 180px;
                                height: 45px;
                                border: 1px solid #E2E4EC;
                                padding: 17px 15px;
                                border-radius: 7px;
                            }
                            &>input:focus{
                                border: 1px solid #2847D0;
                            }
                            &>input::placeholder {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14.52px;
                                text-align: left;
                                color: #B9B6BB;
                            }

                            &>img {
                                position: absolute;
                                right: 12px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                            }
                        }
                    }
                }
            }

            &>.section__right {
                display: flex;
                flex-direction: column;
                padding: 13px 18px;
                border-left: 1px solid #EDEFF5;
                height: 800px;

                &>p:first-child {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 18.15px;
                    color: #323236;
                    margin-bottom: 7px;
                }

                &>p:nth-child(2) {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 15.73px;
                    color: #5F6067;
                    margin-bottom: 38px;
                }

                &>.right__menu {
                    display: flex;
                    gap: 13px;
                    align-items: center;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 15.73px;
                    color: #323236;
                    border-bottom: 1px solid #EDEFF5;
                    padding-bottom: 14px;
                    cursor: pointer;

                    &>p {
                        display: flex;
                        position: relative;

                        &>.active {
                            position: absolute;
                            bottom: -14px;
                            width: 44px;
                            height: 2px;
                            background-color: #0F2666;
                        }
                    }
                }
                &>.right__card.no-hover{
                    background-color: #F7F8FA; 
                }
                &>.right__card {
                    display: flex;
                    align-items: center;
                    margin-top: 14px;
                    justify-content: space-between;
                    padding: 7px 12px;
                    border-radius: 9px;
                    transition: background-color 200ms ease;
                    cursor: pointer;
                   
                    &>.right__card__2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #F7F8FA;
                        border-radius: 11px;
                        height: 363px;
                        padding: 12px;
                        width: 100%;
                        gap: 13px;

                        &>p:nth-child(2) {
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 20px;
                            text-align: center;
                            color: #323236;
                        }

                        &>p:last-child {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 20px;
                            text-align: center;
                            color: #5F6067;
                        }
                    }

                    &>img:first-child {
                        width: 42px;
                        height: 40px;
                        background-color: #0F2666;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 9px 15px;
                        margin-right: 12px;
                    }

                    &>p:nth-child(2) {
                        font-size: 13px;
                        font-weight: 400;
                        color: #323236;
                        display: flex;
                        flex-direction: column;
                        margin-right: 23px;

                        &>span {
                            color: #999FAA;
                            font-family: Inter;
                            font-size: 10px;
                            font-weight: 400;

                        }

                    }

                }
               
                &>.right__card:hover {
                    background-color: #F7F8FA;
                    transition: background-color 200ms ease;
                }
            }
        }

        .bottom__info {
            position: absolute;
            bottom: 14px;
            left: 0;
            z-index: 9999;
            background-color: #fff;
            padding-left: 52px;
            padding-top: 14px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 10px;
            width: 100%;
            border-top: 1px solid #EDEFF5;
            font-weight: 400;
            line-height: 26px;
            color: #323236;

            &>span {
                width: 8px;
                height: 8px;
                background: #08D3BB;
                border-radius: 9999px;
            }
        }
    }
}